/*common start*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #8e8e8e;
}
/*common end*/
/*header start*/
header{
	
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a{
	font-family: 'Lato', sans-serif;
	color: #8e8e8e !important;
	padding: 0 15px !important;
}
.menu ul li a:hover {
	color: #333333 !important;
}
.dp_a{
	color: #8e8e8e;
	border: 0 !important;
}
.dp_a::after{
	display: none;
}
.dp_m[data-bs-popper] {
	top: 60px;
	left: -300px;
	margin-top: 0;

}
.dp_m{
	width: 400;
	padding: 10px 10px;
	border: 1px solid #8e8e8e;
	border-radius: 0;
}

.dp_input{
	border: 0;
}
.dp_input:focus{
	border-color: transparent;
	box-shadow: none;
}
.dp_btn{}
/*header end*/
/*slider start*/
.slider{
	background-image: url(../images/slider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.s_item{
    margin-top: 200px;
    margin-bottom: 200px;
}
.s_item h2{
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: #ffffff;
}
.s_item p{
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	padding: 45px 0 50px;
	line-height: 30px;
	letter-spacing: 1px;
}
.btn_slider{
	padding: 10px 30px;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    background-color: #ffffff;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid black;
}
.btn_slider span{
	padding-left: 10px;
}
.b_pn{
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.b_span{
	font-size: 20px;
	font-weight: 500;
	color: #333333;
}
/*slider end*/
/*welcome start*/
.welcome{
	margin-bottom: 90px;
}
.c_title{}
.c_shape{
	margin: 0 auto;
	width: 2px;
	height: 50px;
	background-color: black;
}
.c_h1{
	padding-top: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
}
.w_p{
	margin-top: 50px;
	letter-spacing: 1px;
	line-height: 30px;
}
.s_service{
	margin-top: 100px;
	padding: 70px 10px 35px;
	border: 1px solid #8e8e8e;
	text-align: center;
}
.s_icon{
	width: 75px;
	margin: -91px auto 0;
	background-color: white;
}
.s_i{
	font-size: 60px;
}
.s_h2{
	padding: 30px 0 16px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
}
.s_hr{
	width: 70px;
	height: 2px;
	margin: 0 auto;
	color: black;

}
.s_p{
	padding: 15px 0;
	line-height: 25px;
}
.s_a{
	text-decoration: none;
	text-transform: uppercase;
	color: #8e8e8e;
}
.s_a span{
	margin-left: 15px;
}
.s_a span i{}
/*welcome end*/
/*about start*/
.about{
	margin-bottom: 120px;
}
.a_h1{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #333333;
}
.a_p{
	padding: 35px 0;
	line-height: 30px;
}
/*about end*/
/*work start*/
.work{
	background-color: #f8f8f8;
	padding-bottom: 100px;
}
.rb{
	margin-bottom: 80px;
}
/*2nd row*/
.main_b{
	text-decoration: none;
	color: #8e8e8e;
}

/*3rd row*/
.rw_img{
	margin-top: 30px;
	position: relative;
}
.rw_img img{
	width: 100%;
}
.rw_overlay{
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 000000;
	transition: .3s;
}
.rw_overlay_icon{
	position: absolute;
	right: 42%;
	bottom: 50%;
}
.rw_overlay_icon i{
	font-size: 60px;
	color: white;
}
.rw_overlay_text{
	padding: 15px 30px;
	position: absolute;
	bottom: -50px;
	width: 100%;
	background-color: white;
	transition: .3s;
}
.rw_overlay_text h2{
	color: black;
	font-size: 18px;
	text-transform: uppercase;
}
.rw_overlay_text p{
	margin-bottom: 0;
	font-size: 16px;
	color: #8e8e8e;
	text-transform: uppercase;
}
.rw_img:hover .rw_overlay{
	opacity: 1;
}
.rw_img:hover .rw_overlay_text{
	opacity: 1;
	bottom: 0;
}
/*work end*/

/*choose start*/
.choose{
	margin-bottom: 90px;
}
.fast{
	margin-bottom: 45px;
}
.w_item{
	margin-top: 45px;
}
.w_icon{}
.w_icon i{
	font-size: 48px;
}
.w_h2{
	margin-top: -40px;
	padding-left: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.w_pa{
	padding: 30px 0;
}
hr{
	width: 350px;
	color: black;
}
/*choose end*/
/*worker start*/
.worker{
	background-image: url(../images/agency.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.r_item{
	background-color: white;
	margin: 90px 0;
}
.r_img{

}
.r_img img{
	width: 100%;
}
.r_item h2{
	padding-left: 30px;
	padding-top: 17px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
}
.r_item p{
	padding-bottom: 15px;
	padding-left: 30px;
	margin-top: -5px;
	text-transform: uppercase;
}
/*worker end*/
/*best start*/
.best{
	margin-bottom: 95px;
}
.b_content{
	margin-top: 90px;
	border: 1px solid #8e8e8e;
}
.b_content h2{
	width: 70px;
	padding-left: 10px;
	margin: -10px auto 0;
	margin-left: 20px;
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
}
.bast{
	display: inline-block;
    padding-top: 35px;
	margin-bottom: 35px;
}
.bast h3{
	
	padding-left: 30px;
	font-size: 40px;
	font-weight: 400;
	display: inline;
	color: #333333;

}
.b_content h4{
	padding-left: 0px;
	font-size: 18px;
	font-weight: 400;
	display: inline;
}
.b_content p{
	padding-left: 30px;
	line-height: 40px;
}
.l_btn{
	margin-left: 30px;
	margin-bottom: 40px;
}
/*best end*/
/*middle start*/
.middle{
	padding: 40px 0;
	background-color: #f8f8f8;
	margin-bottom: 95px;
}
.mi_p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #333333;
}
.mi_btn{
	margin-left: 140px;
}
/*middle end*/
/*founder start*/
.founder{
	margin-bottom: 100px;
}
.nd_row{
	border: 1px solid #8e8e8e;
	padding: 40px 30px;
}
.f_img{}
.f_img img{
	width: 100%;
}
.f_text{}
.u_c{
	text-transform: uppercase;
}
.f_text h1{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
}
.f_text h2{
	padding: 3px 0;
	font-size: 18px;
	font-weight: 400;
}
.f_text h3{
	font-size: 18px;
	font-weight: 400;
	color: #333333;
}
.f_text p{
	padding-top: 55p;
	padding-bottom: 20px;
	line-height: 40px;
}
.pa_b{
	border: 1px solid #8e8e8e;
}
.pa_b p{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #333333;
}
.v{
	color: white;
}
/*founder end*/


